[Unit]
Description=ExerciseDiary Web Frontend
Documentation=https://github.com/aceberg/ExerciseDiary
After=network-online.target exercisediary-api.service
Wants=network-online.target
Requires=exercisediary-api.service

[Service]
ExecStart=/usr/bin/exercisediary-frontend -a http://localhost:8851
Restart=on-failure

[Install]
WantedBy=multi-user.target
