[Unit]
Description=WorkoutDiary Web Frontend
Documentation=https://github.com/rwlove/WorkoutDiary
After=network-online.target workoutdiary-api.service
Wants=network-online.target
Requires=workoutdiary-api.service

[Service]
ExecStart=/usr/bin/workoutdiary-frontend -a http://localhost:8851
Restart=on-failure

[Install]
WantedBy=multi-user.target
