[Unit]
Description=WorkoutDiary API Backend
Documentation=https://github.com/rwlove/WorkoutDiary
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/workoutdiary-api -d /etc/WorkoutDiary/
Restart=on-failure

[Install]
WantedBy=multi-user.target
